@use "src/styles/variables" as *;

.vm-bar-hits-chart-iterative-warning {
  padding-inline: calc($padding-small / 2) $padding-global;
  padding-block: 0 $padding-global;

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: $padding-small;
  }
}
