@use "src/styles/variables" as *;

.vm-query-editor {
  position: relative;

  &__ghost {
    pointer-events: none;
    font-family: $font-family-monospace;
    line-height: 18px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    user-select: none;
  }

  &__ghost-prefix {
    visibility: hidden;
  }

  &__ghost-suffix {
    color: $color-text-secondary;
    opacity: 0.8;
  }

  .marker-detection {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -9999;
    visibility: hidden;
  }

  &-help-tooltip {
    &-item {
      display: grid;
      grid-template-columns: 80px 1fr;
      padding: 4px 0;
      border-bottom: $border-divider;

      &:last-child {
        border-bottom: none;
      }

      span:last-child {
        text-align: right;
      }
    }
  }
}
