@use "src/styles/variables" as *;

.vm-execute-group {
  display: flex;

  &-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: $border-divider;
    border-right-color: $color-background-body;
  }

  &__refresh-interval {
    text-transform: lowercase;
  }
}
